@use 'variables' as *;

nav {
    width: 500px;
    background-color: #345231;

    li {
        border: 1px solid black;

        a {
            color: $primaryColor;

            &:hover,
            &:focus {
                color: blue;
            }

        }
    }

}