@use 'variables' as *;
@use "typography";
@use 'setup';
@use 'nav';


@mixin position ($type, $top, $right){

    position: $type;
    top: $top;
    right: $right;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

body {
    background-color: #f6f6f6;
    font-family: $baseFont;
}


