@use './partials/variables' as *;
@use "./partials/typography";
@use './partials/setup';
@use './partials/nav';
@use './partials/sections';
@use './partials/header';
@use './partials/footer';


@mixin position ($type, $top, $right){

    position: $type;
    top: $top;
    right: $right;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

header {
    background-color: $primaryColor;
    font-family: $baseFont;
}

body {
    font-family: $baseFont;
}

button {
    background-color: $tertiary;
    color: $black;
    font-family: $baseFont;
    font-weight: bold;
    font-size: 20px;
    width: 160px;
    height: 30px;
    border: none;
}

.button-read {

}

.button-find {
    width: 200px;
    height: 30px;
    border: none;
}

.button-comment { // theres a way for this button to be full length
    width: 200px;
    height: 30px;
    border: none;
}



