@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf");
  font-weight: normal;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
h1 {
  font-size: 80px;
}

ul {
  list-style: none;
}

header {
  color: #f6f6f6;
}

a {
  text-decoration: none;
}

p {
  font-family: "Montserrat";
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav {
  background-color: #345231;
  font-family: "Montserrat";
  line-height: 29px;
  letter-spacing: 1px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1rem;
}
nav li {
  padding: 0rem 1rem;
}
nav li a {
  color: #f6f6f6;
}
nav li a:hover, nav li a:focus {
  color: #e4a436;
}
nav li a span {
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 1.5rem;
}

.who-willow {
  background-color: #f6f6f6;
  text-align: center;
  padding: 4rem;
}

.section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-three img {
  width: 80%;
}

.favourite-flex,
.bucket-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favourite-flex div,
.bucket-flex div {
  width: 50%;
}

.favourite-flex {
  padding-bottom: 3rem;
}

.favourite-things {
  padding-left: 2rem;
  padding-left: 8rem;
}

.bucket-list {
  padding: 0 6rem 0rem 3rem;
  margin-bottom: 2rem;
  text-align: right;
}

.button-read {
  margin-bottom: 2rem;
}

.rectangle-1 {
  background-color: #709b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: -1rem;
  margin-right: -4rem;
}

.bridge {
  margin: -1rem 1rem 1rem 0;
}

.lily {
  margin-top: -1rem;
  margin-left: -1rem;
}

.rectangle-2 {
  background-color: #345231;
  margin-bottom: -1rem;
  margin-top: 3rem;
}

.willow-journey {
  background-color: #f6f6f6;
  padding: 5rem 0;
}

.willow-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.willow-flex img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  z-index: 20;
}
.willow-flex .flex-willow-journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin: 0 auto;
}

.container-2 {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.square-2 {
  width: 10rem;
  height: 10rem;
  background-color: #709b6b;
  position: absolute;
  z-index: 10;
  top: 1rem;
  left: 1rem;
}

.home-background {
  background-image: url("../assets/home-image-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}

.gallery {
  background-color: white;
  padding: 30px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery img {
  max-width: 90%;
}

.photos-about {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-flex div {
  width: 50%;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-margins {
  margin-top: 0.75rem;
  margin-right: 1rem;
}

.icon-background {
  color: #e4a436;
}

.icon-description {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.h-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  padding: 1rem;
}

.body-background {
  background-color: #f6f6f6;
}

.contact-background {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 22rem;
  width: 100%;
}
.contact-background h2 {
  color: #f6f6f6;
  font-size: 4rem;
  margin: auto;
  padding: 21rem 8rem;
}

.main-background {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-left: 2rem;
}

.icons-contact li {
  color: #345231;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.contact-main {
  background-color: white;
  width: 30rem;
  height: 15rem;
  margin: 0rem 2rem 4rem 7rem;
}

.bold-email {
  font-weight: bold;
}

.icons-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.icons-contact ul li {
  padding: 2px 2px;
}

.contact-me li {
  margin-bottom: 0.5rem;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 0 1rem;
}

input {
  font-family: "Montserrat";
  width: 17rem;
  margin-bottom: 1rem;
}

textarea {
  font-family: "Montserrat";
  margin-bottom: 1rem;
}

.contact-submit {
  display: inline-block;
  width: 34rem;
  margin-bottom: 5rem;
}

.blog-background {
  background-image: url(../assets/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 350px;
  width: 100%;
}
.blog-background h2 {
  color: #f6f6f6;
  font-size: 3rem;
  margin: auto;
  padding: 21rem 5rem;
}

.about-willow {
  background-color: white;
  width: 16rem;
  height: 33rem;
}
.about-willow img {
  width: 80%;
}

.blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.about-recent-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3rem;
}

.about-willow-text {
  padding: 0rem 1rem 0rem 2rem;
}
.about-willow-text .blog-h3 {
  padding-left: 0rem;
}

.blog-photo {
  margin: 1.5rem 1.5rem 0;
}

.recent-posts {
  background-color: white;
  padding: -1rem 1rem 0rem 1rem;
  width: 16rem;
  height: 10rem;
}
.recent-posts ul {
  font-family: "Montserrat";
  list-style: circle;
}

.recent-h3 {
  padding-left: 2rem;
}

.favourite-blog-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.favourite-travel {
  background-color: white;
  padding: 1rem 2rem 0;
  margin-bottom: 2rem;
}

.barb {
  background-color: white;
}
.barb .barb-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.barb .barb-post img {
  height: 5rem;
  width: 5rem;
  margin: 2rem 1rem;
}

.daisy {
  background-color: white;
  margin-bottom: 2rem;
}
.daisy .daisy-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.daisy img {
  height: 5rem;
  width: 5rem;
  margin: 2rem 1rem;
}

.border {
  border-bottom-width: 5px;
  border-bottom-color: #345231;
  border-bottom-style: solid;
}

.input-blog {
  width: 21.5rem;
}

.header-title {
  font-size: 6rem;
}

.musing {
  width: 5rem;
  height: 7rem;
  margin-top: -2rem;
  margin-right: -3rem;
}

.willow-header {
  width: auto;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-1 {
  position: relative;
  width: 24vh;
}

.mustard {
  height: 20rem;
  width: 15rem;
  z-index: 20;
  position: absolute;
  top: -8rem;
  left: 1rem;
}

.square-1 {
  background: white;
  height: 20rem;
  width: 15rem;
  position: absolute;
  z-index: 10;
  top: -7rem;
  left: 2rem;
}

footer {
  background-color: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
  padding: 1px;
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  nav li {
    padding: 0rem 0.25rem;
  }
  .header-title {
    font-size: 7vh;
  }
  .who-willow {
    padding: 2rem;
  }
  .square-1 {
    display: hidden;
  }
  .container-1 {
    display: none;
  }
  .favourite-flex,
.bucket-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .favourite-flex .favourite-things,
.favourite-flex .bucket-list,
.bucket-flex .favourite-things,
.bucket-flex .bucket-list {
    padding: 0;
    text-align: center;
  }
  .favourite-flex .favourite-things h2,
.favourite-flex .favourite-things p,
.favourite-flex .bucket-list h2,
.favourite-flex .bucket-list p,
.bucket-flex .favourite-things h2,
.bucket-flex .favourite-things p,
.bucket-flex .bucket-list h2,
.bucket-flex .bucket-list p {
    margin: 2rem -4rem 1rem;
  }
  .favourite-flex .rectangle-1,
.favourite-flex .rectangle-2,
.bucket-flex .rectangle-1,
.bucket-flex .rectangle-2 {
    width: 100%;
    margin: auto;
  }
  .lily {
    width: 100%;
    margin: auto;
  }
  button {
    margin-bottom: 0;
  }
  button .button-comment {
    width: 22rem;
    height: 10rem;
  }
  .willow-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .willow-flex .flex-willow-journey {
    padding-top: 2rem;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .willow-flex .h-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-description,
.icon-details {
    width: auto;
  }
  .blog-background h2 {
    font-size: 2rem;
  }
  .blog-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-recent-flex {
    padding: 0rem 0rem 1rem 5rem;
  }
  textarea {
    width: 22rem;
    height: 10rem;
  }
  .contact-background h2 {
    font-size: 2rem;
  }
  .main-background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 0;
  }
  .contact-main {
    margin: 0;
  }
  .icons-contact {
    padding-left: 10rem;
  }
  .form-flex {
    padding: 0;
  }
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

header {
  background-color: #345231;
  font-family: "Abril Fatface";
}

h2 {
  line-height: 1px;
}

body {
  font-family: "Abril Fatface";
  line-height: 25px;
  letter-spacing: 0;
}

button {
  background-color: #e4a436;
  color: #1f1f1f;
  font-family: "Abril Fatface";
  font-weight: bold;
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 1px;
  width: 140px;
  height: 30px;
  border: none;
}

.button-find {
  width: 180px;
  height: 30px;
  border: none;
}

.button-comment {
  width: 44.5rem;
  height: 2rem;
  border: none;
  margin-bottom: 4rem;
}